<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

  <Properties>
    <Property name="log_dir">./logs</Property>
    <!-- @formatter:off -->
    <Property name="console_pattern">%style{%d{UTF-8}}{white} %highlight{%-5level} %style{%pid}{magenta} --- [%style{%t}{bright,blue}] %style{%c{1.}}{cyan}: %msg%n%throwable</Property>
    <Property name="file_pattern">%d %p [%t] %c{1.} %m%n</Property>
    <!-- @formatter:on -->
  </Properties>

  <Appenders>
    <Console name="console_appender" target="SYSTEM_OUT">
      <PatternLayout pattern="${console_pattern}"/>
    </Console>

    <RollingFile name="info_appender"
      fileName="${log_dir}/info.log" filePattern="${log_dir}/%d{yyyy}/%d{MM}/%d{dd}/info_%i.log">
      <PatternLayout pattern="${file_pattern}"/>
      <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
        <TimeBasedTriggeringPolicy interval="1"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy max="10" fileIndex="min">
        <!--        <Delete basePath="${log_dir}" maxDepth="3">-->
        <!--          <IfLastModified age="30d"/>-->
        <!--        </Delete>-->
      </DefaultRolloverStrategy>
    </RollingFile>

    <RollingFile name="error_appender"
      fileName="${log_dir}/error.log" filePattern="${log_dir}/%d{yyyy}/%d{MM}/%d{dd}/error_%i.log">
      <PatternLayout pattern="${file_pattern}"/>
      <LevelRangeFilter minLevel="WARN" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <SizeBasedTriggeringPolicy size="10MB"/>
        <TimeBasedTriggeringPolicy interval="1"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
      <DefaultRolloverStrategy max="10" fileIndex="min">
        <!--        <Delete basePath="${log_dir}" maxDepth="3">-->
        <!--          <IfLastModified age="30d"/>-->
        <!--        </Delete>-->
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>

  <Loggers>
    <!-- spring logger  -->
    <Logger name="org.springframework" additivity="false" level="INFO">
      <AppenderRef ref="console_appender"/>
      <AppenderRef ref="info_appender"/>
      <AppenderRef ref="error_appender"/>
    </Logger>

    <!-- project logger -->
    <logger name="peer" additivity="false" level="INFO">
      <AppenderRef ref="console_appender"/>
      <AppenderRef ref="info_appender"/>
      <AppenderRef ref="error_appender"/>
    </logger>

    <!-- default logger -->
    <root additivity="false" level="OFF">
      <AppenderRef ref="console_appender"/>
    </root>
  </Loggers>
</Configuration>